.container {
    font-family: Arial, sans-serif;

    padding-left: 0;
    background-color: #f4f4f4;
}

#profile-pic-image {
    height: 200px;
    width: 200px;
}

#projects {
    padding-bottom: 50px;
}

.profile-name {
    color: white;
}

.main-menu {
    list-style-type: none;
    margin-left: 0;
    padding-left: -500px;
    overflow: hidden;
    background-color: #111111;
}

.nav-list {
    list-style-type: none;
    float: left;

    li {
        float: left;

        a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        a:hover {
            background-color: #111111;
        }

        a.active {
            background-color: #04AA6D;
        }
    }
}

.about-me {
    background-color: #333333;
    padding: 20px;
    color: white;
}

.hobbies-skills {
    background-color: #333333;
    padding: 20px;
    color: white;
}

.list-h3 {
    background-color: #04AA6D;
    padding: 10px;
    color: #ffffff;
}

.ol-list {
    list-style-type: circle;
    margin-left: 20px;
}

.ul-list {
    list-style-type: disc;
    margin-left: 20px;
}

.project-roadmap {
    background-color: #333333;
    padding: 20px;
    color: white;
}

.contact-me {
    background-color: #333333;
    padding: 20px;
    color: white;
}

.footer {
    background-color: #111111;
    color: white;
    text-align: center;
    padding: 10px;
}

.project-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
}

.contact-form {
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    padding: 20px;


    label {
        display: block;
    }

    input[type=text],
    select {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .submit {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }
}