/** Styling of Class's **/
.container {
    border: solid 8px #081b8a;
    border-radius: 20px;
    background-color: #2a2021;
}

.to-do-container {
    margin: auto;
    width: 50%;
    /* padding: 50px; */
}

.heading {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.task-input {
    margin: auto;
    width: 50%;
    /* margin-left: 10%; */
    /* padding: 50px; */
}

.add-list {
    margin: auto;
    width: 50%;
}

.task-list {
    list-style-type: none;
    margin: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border-color: aqua;
    border-width: 2px;
    background-color: #2a2021;
    color: white;
}

/** Styling of Id's **/
#add-list-btn {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #2a2021;
}

#new-task {
    border-radius: 5px;
    padding: 10px;
    border-color: aqua;
    margin: 5px;
}